---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vikunja
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: vikunja-secret
    template:
      data:
        # App
        VIKUNJA_SERVICE_JWT_SECRET: "{{ .VIKUNJA_JWT_SECRET }}"
        VIKUNJA_DATABASE_HOST: &dbHost "{{ .POSTGRES_HOST }}"
        VIKUNJA_DATABASE_DATABASE: &dbName "{{ .VIKUNJA_POSTGRES_DB }}"
        VIKUNJA_DATABASE_USER: &dbUser "{{ .VIKUNJA_POSTGRES_USER }}"
        VIKUNJA_DATABASE_PASSWORD: &dbPass "{{ .VIKUNJA_POSTGRES_PASS }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        # OIDC
        config.yml: |
          auth:
            local:
              enabled: false
            openid:
              enabled: true
              redirecturl: https://todo.jonandlinz.io/auth/openid
              providers:
                - name: Authentik
                  authurl: https://auth.jonandlinz.io/application/o/vikunja/
                  logouturl: https://auth.jonandlinz.io/application/o/vikunja/end-session/
                  clientid: {{ .VIKUNJA_OIDC_CLIENT_ID }}
                  clientsecret: {{ .VIKUNJA_OIDC_CLIENT_SECRET }}
                  scope: openid profile email
  dataFrom:
    - extract:
        key: cloudnativepg
    - extract:
        key: vikunja