---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpackerr
spec:
  chartRef:
    kind: OCIRepository
    name: unpackerr
  interval: 1h
  values:
    controllers:
      unpackerr:
        annotations:
          reloader.stakater.com/auto: "true"
        labels:
          nfsMount: "true"
        containers:
          app:
            image:
              repository: ghcr.io/unpackerr/unpackerr
              tag: 0.15.0@sha256:9f4cb99b78d8fe2d55f79c490a715e14a8a28d9868373dad642ca5adc2ac3e91
            env:
              TZ: America/Chicago
              UN_WEBSERVER_METRICS: true
              UN_WEBSERVER_LISTEN_ADDR: 0.0.0.0:80
              UN_WEBSERVER_LOG_FILE: /logs/webserver.log
              UN_ACTIVITY: true
              UN_SONARR_0_URL: http://sonarr.media.svc.cluster.local
              UN_SONARR_0_PATHS_0: /media/torrents/
              UN_SONARR_0_PROTOCOLS: torrent
              UN_SONARR_0_TIMEOUT: 10s
              UN_SONARR_0_DELETE_ORIG: true
              UN_SONARR_0_DELETE_DELAY: 5m
              UN_RADARR_0_URL: http://radarr.media.svc.cluster.local
              UN_RADARR_0_PATHS_0: /media/torrents/
              UN_RADARR_0_PROTOCOLS: torrent
              UN_RADARR_0_TIMEOUT: 10s
              UN_RADARR_0_DELETE_ORIG: true
              UN_RADARR_0_DELETE_DELAY: 5m
              UN_WEBHOOK_0_URL: https://notifiarr.com/api/v1/notification/unpackerr/ff4b108c-2866-4028-b045-e35eafb4050e
              UN_WEBHOOK_0_NAME: Notifiarr
              UN_WEBHOOK_0_NICKNAME: Unpackerr
              UN_WEBHOOK_0_SILENT: false
              UN_WEBHOOK_0_IGNORE_SSL: false
              UN_WEBHOOK_0_EVENTS_0: 0
            envFrom:
              - secretRef:
                  name: unpackerr-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 8Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 80
    serviceMonitor:
      app:
        endpoints:
          - port: http
    persistence:
      logs:
        type: emptyDir
      media:
        type: nfs
        server: "nas.jonandlinz.com"
        path: /mnt/rustpool/media_server
        globalMounts:
          - path: /media
