---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: convertx
spec:
  chartRef:
    kind: OCIRepository
    name: convertx
  interval: 1h
  values:
    controllers:
      convertx:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/c4illin/convertx
              tag: v0.17.0
            env:
              TZ: America/Chicago
              ACCOUNT_REGISTRATION: true
              HTTP_ALLOWED: false
              ALLOW_UNAUTHENTICATED: true
              AUTO_DELETE_EVERY_N_HOURS: 1
              UNAUTHENTICATED_USER_SHARING: false
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              claims:
                - name: gpu
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: convertx-gpu
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - "fileconvert.jonandlinz.io"
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/data
      tmp:
        type: emptyDir