---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tqm
spec:
  chartRef:
    kind: OCIRepository
    name: tqm
  dependsOn:
    - name: qbittorrent
      namespace: vpn
  interval: 1h
  values:
    controllers:
      tqm:
        type: cronjob
        cronjob: &cronJobSpec
          schedule: 0 * * * *
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 3600
        initContainers:
          retag: &container
            image:
              repository: ghcr.io/home-operations/tqm
              tag: 1.18.0@sha256:454864e1f56a86550c54776c3ba5f3439133b4fc4e66ef69ff90a6ee65db6cc5
            args:
              - retag
              - qb
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        containers:
          clean:
            <<: *container
            args:
              - clean
              - qb
        pod:
          restartPolicy: Never
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: 0 0 * * 0
          suspend: true
        containers:
          app:
            <<: *container
            args:
              - orphan
              - qb
              - --dry-run
        pod:
          restartPolicy: Never
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "multus-vpn",
            "namespace": "kube-system",
            "ips": ["10.4.0.11/24"],
            "mac": "00:02:5d:ee:d4:5c"
          }]
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
      secret-file:
        type: secret
        name: tqm-secret
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml
      media:
        type: nfs
        server: "nas.jonandlinz.com"
        path: /mnt/rustpool/media_server/torrents
        globalMounts:
          - path: /media/torrents
            readOnly: true
      tmp:
        type: emptyDir