---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bambu-connect
  namespace: default
spec:
  chartRef:
    kind: OCIRepository
    name: bambu-connect
  interval: 1h
  values:
    controllers:
      bambu-connect:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/octoeverywhere/octoeverywhere
              tag: latest@sha256:0048add55ae87250336d6b8f2e45c789e0857db28149efa86d5ccaa6837fc373
            env:
              TZ: America/Chicago
              PRINTER_IP: "10.21.20.6"
              LAN_ONLY_MODE: "TRUE"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 500Mi
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
              fsGroupChangePolicy: "OnRootMismatch"
              readOnlyRootFilesystem: false
              runAsNonRoot: false
    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
