---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  chartRef:
    kind: OCIRepository
    name: ollama
  interval: 1h
  values:
    controllers:
      ollama:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          ollama:
            image:
              repository: ghcr.io/tyzbit/ollama-intel-gpu
              tag: latest
            securityContext:
              privileged: true
            env:
              # --- Intel GPU
              OLLAMA_MAX_LOADED_MODELS: "1"
              OLLAMA_NUM_PARALLEL: "1"
              OLLAMA_NUM_GPU: "1"
              SYCL_CACHE_PERSITENT: "1"
              IPEX_LLM_NUM_CTX: "4096"
              SYCL_PI_LEVEL_ZERO_USE_IMMEDIATE_COMMANDLISTS: "1"
              IPEX_LLM_MODEL_SOURCE: modelscope
              # ---
              TZ: America/Chicago
              # OLLAMA_INTEL_GPU: "1" # doesn't work right now, experimental
              HSA_OVERRIDE_GFX_VERSION: 11.0.1 # force to use graphics card
              OLLAMA_HOST: 0.0.0.0
              OLLAMA_ORIGINS: "*"
              OLLAMA_MODELS: &modelPath /models
              OLLAMA_LOAD_TIMEOUT: "600"
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 16Gi
    service:
      app:
        ports:
          http:
            port: &port 11434

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      ollama:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: *modelPath
            subPath: models
          - path: /root/.ollama
            subPath: config
      dri:
        type: hostPath
        hostPath: /dev/dri
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama-cpu
spec:
  chartRef:
    kind: OCIRepository
    name: ollama
  interval: 1h
  values:
    controllers:
      ollama:
        type: deployment
        forceRename: "cpu"
        replicas: 0
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          ollama:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.13.5
            securityContext:
              privileged: true
            env:
              TZ: America/Chicago
              # OLLAMA_INTEL_GPU: "1" # doesn't work right now, experimental
              OLLAMA_HOST: 0.0.0.0
              OLLAMA_ORIGINS: "*"
              OLLAMA_MODELS: &modelPath /models
              OLLAMA_LOAD_TIMEOUT: "600"
              OLLAMA_CONTEXT_LENGTH: "4096"
              OLLAMA_NUM_PARALLEL: "1"
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 16Gi

    persistence:
      ollama:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: *modelPath
            subPath: models
          - path: /root/.ollama
            subPath: config
      dri:
        type: hostPath
        hostPath: /dev/dri