---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vpn

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./dispatcharr/ks.yaml
  - ./flaresolverr/ks.yaml
  - ./kapowarr/ks.yaml
  - ./nzbget/ks.yaml
  - ./prowlarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./slskd/ks.yaml