---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./esphome/ks.yaml
  - ./home-assistant/ks.yaml
  - ./scrypted/ks.yaml
  - ./wyoming/ks.yaml
  - ./zigbee2mqtt/ks.yaml
  - ./zwave-js-ui/ks.yaml