---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispatcharr
spec:
  chartRef:
    kind: OCIRepository
    name: dispatcharr
  interval: 1h
  values:
    controllers:
      dispatcharr:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.16.0@sha256:231587c9ac67afb61ddb8cd012393abb9b6c4c9fcd79dd16b9f267b2589da98b
            env:
              CELERY_BROKER_URL: redis://dragonfly.database.svc.cluster.local:6379/7
              DISPATCHARR_ENV: aio
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: &port 9191
              REDIS_HOST: dragonfly.database.svc.cluster.local
              REDIS_DB: 7
            envFrom: *envFrom
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      hostUsers: false
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: dispatcharr-gpu
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "multus-vpn",
            "namespace": "kube-system",
            "ips": ["10.4.0.11/24"],
            "mac": "00:02:5d:ee:d4:5c"
          }]
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          dispatcharr:
            app:
              - path: /data
                subPath: data
      tmpfs:
        type: emptyDir
        advancedMounts:
          dispatcharr:
            app:
              - path: /tmp
                subPath: tmp