---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispatcharr
spec:
  chartRef:
    kind: OCIRepository
    name: dispatcharr
  interval: 1h
  values:
    controllers:
      dispatcharr:
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |-
              [{
                "name": "multus-vpn",
                "namespace": "kube-system",
                "ips": ["10.4.0.11/24"],
                "mac": "00:02:5d:ee:d4:5c"
              }]
          hostUsers: false
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: dispatcharr-gpu
        initContainers:
          chown-dbdir:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod 0750 /data/db
            securityContext:
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.18.1@sha256:425be855292df282db6f8daed0b3f0ac40a6dc451ddc66f7cbb299a4659e96da
            env:
              CELERY_BROKER_URL: redis://localhost:6379/0
              DISPATCHARR_ENV: aio
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: &port 9191
              REDIS_HOST: localhost
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    service:
      app:
        ipFamilies: [IPv4]
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: *port
    persistence:
      data:
        existingClaim: dispatcharr
        advancedMounts:
          dispatcharr:
            app:
              - path: /data
                subPath: data
            chown-dbdir:
              - path: /data
                subPath: data
      tmpfs:
        type: emptyDir
        advancedMounts:
          dispatcharr:
            app:
              - path: /tmp
                subPath: tmp
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-internal
            namespace: network