machine:
  network:
    hostname: home-node-03
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors: [{ hardwareAddr: "58:47:ca:77:35:ee", driver: i40e },{ hardwareAddr: "58:47:ca:77:35:ef", driver: i40e }]
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 1000
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.12.0.254
      - deviceSelector:
          hardwareAddr: 58:47:ca:77:35:f1
        ignore: true
      #TB Ring
      - deviceSelector:
          busPath: 0-1.0 # home-node-01
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.13/32
        routes:
          - network: 169.254.255.11/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # home-node-02
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.13/32
        routes:
          - network: 169.254.255.12/32
            metric: 2048
  type: controlplane
  udev:
    rules:
    # Rename secondary adapter to eth1
      - SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="58:47:ca:77:35:f1", ATTR{type}=="1", NAME="eth1"