---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: home-node-03
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: home-node-03-to-home-node-01
selector:
  match: link.driver == "thunderbolt-net" && link.bus_path == "0-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: home-node-03-to-home-node-01
addresses:
  - address: 169.254.255.13/32 # home-node-03
mtu: 65520
routes:
  - destination: 169.254.255.11/32 # home-node-01
    metric: 2048
up: true
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: home-node-03-to-home-node-02
selector:
  match: link.driver == "thunderbolt-net" && link.bus_path == "1-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: home-node-03-to-home-node-02
addresses:
  - address: 169.254.255.13/32 # home-node-03
mtu: 65520
routes:
  - destination: 169.254.255.12/32 # home-node-02
    metric: 2048
up: true