---
machine:
  network:
    interfaces:
      #TB Ring
      - deviceSelector:
          busPath: 0-1.0 # home-node-02
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.12/32
        routes:
          - network: 169.254.255.11/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # home-node-03
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.12/32
        routes:
          - network: 169.254.255.13/32
            metric: 2048
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: home-node-02