---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./actual/ks.yaml
  - ./bambu-connect/ks.yaml
  - ./changedetection/ks.yaml
  - ./convertx/ks.yaml
  - ./it-tools/ks.yaml
  - ./manyfold/ks.yaml
  - ./ollama/ks.yaml
  - ./paperless-ngx/ks.yaml
  - ./romm/ks.yaml
  - ./vikunja/ks.yaml
  - ./webhook/ks.yaml