---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  chartRef:
    kind: OCIRepository
    name: kavita
  interval: 1h
  values:
    controllers:
      kavita:
        annotations:
          reloader.stakater.com/auto: "true"
        labels:
          nfsMount: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9@sha256:69e9117b9b681849a6f6d5dc8411bfa6a326ed77f78cc49d9cbce49584ff6c0d
            env:
              TZ: America/Chicago
            resources:
              requests:
                cpu: 20m
                memory: 300Mi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: &port 5000
    route:
      app:
        hostnames:
          - read.jonandlinz.io
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /kavita/config
      cache:
        type: emptyDir
        globalMounts:
          - path: /kavita/config/cache
      media:
        type: nfs
        server: "nas.jonandlinz.com"
        path: /mnt/rustpool/media_server/media
        globalMounts:
          - path: /media
