# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
spec:
  chartRef:
    kind: OCIRepository
    name: paperless-ngx
  interval: 1h
  values:
    controllers:
      paperless-ngx:
        annotations:
          reloader.stakater.com/auto: "true"
        labels:
          nfsMount: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: paperlessngx-secret
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.3@sha256:57ad9565bff3bdf2378ab1dcc21ea649dfd68ee58e0eeca2bfba0120a26563e8
            env:
              PAPERLESS_TIME_ZONE: America/Chicago
              PAPERLESS_URL: https://paperless.jonandlinz.io
              PAPERLESS_PORT: &port 8000
              PAPERLESS_WEBSERVER_WORKERS: 2
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "false"
              #Paperless storage locations
              PAPERLESS_CONSUMPTION_DIR: /docs/consume
              PAPERLESS_DATA_DIR: /docs/data
              PAPERLESS_MEDIA_ROOT: /docs/media
              PAPERLESS_TRASH_DIR: /docs/trash
              PAPERLESS_LOGGING_DIR: /docs/logs
              PAPERLESS_EXPORT_DIR: /docs/export
              PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: true
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
              PAPERLESS_CONSUMER_RECURSIVE: true
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: true
              #OCR Config
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_OCR_LANGUAGES: eng
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - paperless.jonandlinz.io
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      docs:
        type: nfs
        server: "nas.jonandlinz.com"
        path: /mnt/rustpool/docs
        globalMounts:
          - path: /docs