---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: "healthchecks.io Heartbeat"
    group: connectivity
    ui:
      hide-url: true
      hide-hostname: true
      hide-port: true
    url: ${HEALTHCHECK_HEARTBEAT_URL}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 200"

  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: ControlD
    group: connectivity
    url: icmp://76.76.2.22
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: "Matter Server"
    group: services
    ui:
      hide-url: true
      hide-hostname: true
      hide-port: true
    url: http://matter-server.jonandlinz.com:5580/health
    interval: 1m
    client:
      insecure: true
    conditions:
      - "[STATUS] == 200"

metrics: true

storage:
  type: sqlite
  caching: true
  path: ${GATUS_CONFIG_PATH}/gatus.db

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/2641033
  link: https://github.com/jsimcina
  buttons:
    - name: Github
      link: https://github.com/jsimcina
    - name: K8S Cluster
      link: https://github.com/jsimcina/k8s-home

web:
  port: ${GATUS_WEB_PORT}