---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: manyfold
spec:
  chartRef:
    kind: OCIRepository
    name: manyfold
  interval: 1h
  values:
    controllers:
      manyfold:
        annotations:
          secret.reloader.stakater.com/reload: "{{ .Release.Name }}-secret"
        labels:
          nfsMount: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
          chown-tmpdirs:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod o-rwx /tmp
            securityContext:
              runAsUser: 0
        containers:
          main:
            image:
              repository: ghcr.io/bjw-s-labs/manyfold
              tag: 0.130.1
            env:
              PUBLIC_HOSTNAME: models.jonandlinz.io
              HTTPS_ONLY: enabled
              FORCE_OIDC: enabled
              MULTIUSER: enabled
              TZ: America/Chicago
              PORT: &port 3214
              REGISTRATION: false
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 1536Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        primary: true
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - models.jonandlinz.io
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        type: nfs
        server: "nas.jonandlinz.com"
        path: /mnt/rustpool/makerfiles
        advancedMounts:
          manyfold:
            main:
              - path: /data/database
                subPath: database
              - path: /data/libraries/main
                subPath: libraries/main
      tmpfs:
        enabled: true
        type: emptyDir
        advancedMounts:
          manyfold:
            main: &tmpdirs
              - path: /tmp
                subPath: host-tmp
              - path: /app/tmp
                subPath: app-tmp
              - path: /app/log
                subPath: app-log
            chown-tmpdirs: *tmpdirs