---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/kopiamaintenance_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: KopiaMaintenance
metadata:
  name: daily
  namespace: volsync
spec:
  enabled: true
  trigger:
    schedule: 5 */12 * * *
  activeDeadlineSeconds: 43200
  repository:
    repository: volsync-maintenance-secret
  resources:
    requests:
      cpu: "200m"
      memory: "256Mi"
    limits:
      cpu: "1"
      memory: "2Gi"