---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  chartRef:
    kind: OCIRepository
    name: mosquitto
  interval: 1h
  values:
    controllers:
      mosquitto:
        initContainers:
          init-config:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            command: ["/bin/sh", "-c"]
            args:
              - |
                cp /tmp/secret/mosquitto_pwd /mosquitto/external_config/;
                chmod 600 /mosquitto/external_config/mosquitto_pwd;
                mosquitto_passwd -U /mosquitto/external_config/mosquitto_pwd;
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            env:
              TZ: America/Chicago
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mqtt.jonandlinz.io
          gatus.home-operations.com/endpoint: |-
            group: services
          lbipam.cilium.io/ips: 10.12.0.105
        externalTrafficPolicy: Local
        ports:
          mqtt:
            port: 1883
    configMaps:
      config:
        data:
          mosquitto.conf: |-
            allow_anonymous false
            autosave_interval 60
            connection_messages false
            listener 1883
            per_listener_settings false
            persistence true
            persistence_location /config
            password_file /mosquitto/external_config/mosquitto_pwd
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
      secret-file:
        type: secret
        name: mosquitto-secret
        advancedMounts:
          mosquitto:
            init-config:
              - path: /tmp/secret/mosquitto_pwd
                subPath: mosquitto_pwd
                readOnly: true
      external-config:
        type: emptyDir
        globalMounts:
          - path: /mosquitto/external_config