---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: scrypted
spec:
  components:
    - ../../../../components/gpu
    - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  dependsOn:
    - name: intel-gpu-resource-driver
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 10m
  path: "./kubernetes/apps/home/scrypted/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home
  wait: false
  postBuild:
    substitute:
      APP: scrypted
      APP_UID: "0"
      APP_GID: "0"
      VOLSYNC_CLAIM: scrypted