---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: otbr
spec:
  chartRef:
    kind: OCIRepository
    name: otbr
  interval: 1h
  values:
    controllers:
      otbr:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "kube-system",
                "ips": ["10.21.5.9/16"],
                "mac": "00:02:b3:44:cb:27"
              }]
        containers:
          app:
            image:
              repository: docker.io/bnutzer/otbr-tcp
              tag: 20251229@sha256:7d825330b6fdacc19103713a8c0fe15a7c5f8c083043ee143587087843827c16
            env:
              RCP_HOST: 10.21.0.11
              RCP_PORT: 6638
              RCP_BAUDRATE: 460800
              OTBR_BACKBONE_IF: net1
              OTBR_WEB_ENABLE: 1
              OTBR_WEB_PORT: 8080
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              privileged: true
              #capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 8080
          rest:
            port: 8081
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      files:
        existingClaim: otbr
        globalMounts:
          - path: /var/lib/thread