---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pgadmin
spec:
  chartRef:
    kind: OCIRepository
    name: pgadmin
  interval: 1h
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 5050 # ${APP_UID}
        runAsGroup: 5050 # ${APP_GID}
        fsGroup: 5050 # ${APP_GID}
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      pgadmin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          pgadmin:
            image:
              repository: docker.io/dpage/pgadmin4
              tag: "9.12@sha256:10137f33be7ed61e47f56004493710cb5b80ba7fb0ca01758855e242f1f284a7"
            env:
              PGADMIN_DISABLE_POSTFIX: "true"
              PGADMIN_LISTEN_PORT: &port 80
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
                add:
                  - NET_BIND_SERVICE
            resources:
              requests:
                cpu: 15m
                memory: 256M
              limits:
                memory: 512M
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      server-json:
        data:
          servers.json: |-
            {
              "Servers": {
                "1": {
                  "Name": "Kube Primary Postgres Cluster",
                  "Group": "Servers",
                  "Host": "postgres-loadbalancer.database.svc.cluster.local",
                  "Port": 5432,
                  "MaintenanceDB": "postgres",
                  "Username": "postgres",
                  "SSLMode": "prefer",
                  "Timeout": 10,
                  "UseSSHTunnel": 0,
                  "TunnelPort": "22",
                  "TunnelAuthentication": 0
                }
              }
            }
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/lib/pgadmin
      logsandtmp:
        type: emptyDir
        sizeLimit: 500Mi
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /var/log
            subPath: log
      server-json:
        enabled: true
        type: configMap
        identifier: server-json
        globalMounts:
          - path: /pgadmin4/servers.json
            subPath: servers.json