---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  chartRef:
    kind: OCIRepository
    name: esphome
  interval: 1h
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: "{{ .Release.Name }}-secrets"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "kube-system",
                "ips": ["10.21.5.11/16"],
                "mac": "00:02:b3:df:ed:1b"
              }]
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2026.1.3
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 512M
              limits:
                memory: 4096M

    service:
      app:
        ports:
          http:
            port: &port 6052

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          esphome:
            app:
              - path: /config
      secrets:
        type: secret
        name: "{{ .Release.Name }}-secrets"
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
      esphome-basefiles:
        enabled: true
        type: configMap
        name: "{{ .Release.Name }}-basefiles"
        advancedMounts:
          esphome:
            app:
              - path: /config/.base-wifi.yaml
                subPath: .base-wifi.yaml
                readOnly: true
              - path: /config/.base-mqtt.yaml
                subPath: .base-mqtt.yaml
                readOnly: true
              - path: /config/.wyzeoutlet-common.txt
                subPath: .wyzeoutlet-common.txt
                readOnly: true
              - path: /config/.ikea-vindriktning-common.yaml
                subPath: .ikea-vindriktning-common.yaml
                readOnly: true