---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
  interval: 1h
  values:
    fullnameOverride: *app
    extraArgs: [ "--config.file=/config/snmp.yaml" ]
    extraConfigmapMounts:
    - name: &name custom-snmp
      mountPath: /config/snmp.yaml
      subPath: snmp.yaml
      configMap: *name
      readOnly: true
      defaultMode: 420
    serviceMonitor:
      enabled: true
      params:
        - name: brocade-icx-6650
          module:
            - brocade-icx
          target: 10.0.0.6
          auth:
            - public_v2
        - name: tpl-ups
          module:
            - tpl_ups
          target: 10.0.255.230
          auth:
            - public_v2
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - sourceLables:
            - __param_target
          targetLabel: instance