---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vm-operator
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-metrics-operator
  interval: 1h
  timeout: 5m
  values:
    fullnameOverride: vm-operator
    crds:
      enabled: false
    operator:
      disable_prometheus_converter: true
      enable_converter_ownership: false
    serviceMonitor:
      enabled: true
    rbac:
      create: true