---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kapowarr
spec:
  components:
    - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  path: ./kubernetes/apps/vpn/kapowarr/app
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: vpn
  wait: false # no flux ks dependents
  interval: 1h
  postBuild:
    substitute:
      APP: kapowarr