---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 1h
  values:
    controllers:
      qbittorrent:
        annotations:
          configmap.reloader.stakater.com/reload: "{{ .Release.Name }}-scripts"
          secret.reloader.stakater.com/reload: "{{ .Release.Name }}-secret"
          reloader.stakater.com/auto: "true"
        labels:
          nfsMount: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: America/Chicago
              QBT_WEBUI_PORT: &port 80
              QBT_TORRENTING_PORT: 58282
              QBT_BitTorrent__Session__Interface: net1
              QBT_BitTorrent__Session__InterfaceName: net1
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 8Gi

          mousehole:
            image:
              repository: docker.io/tmmrtn/mousehole
              tag: latest
            env:
              TZ: America/Chicago
              MOUSEHOLE_STATE_DIR_PATH: /config/mousehole
              MOUSEHOLE_PORT: &mouseport 5010
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

    defaultPodOptions:
#      annotations:
#          k8s.v1.cni.cncf.io/networks: |-
#            [{
#              "name": "multus-vpn",
#              "namespace": "kube-system",
#              "ips": ["10.4.0.12/24"],
#              "mac": "00:02:41:8e:8d:cc"
#            }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - qb.jonandlinz.io
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: "nas.jonandlinz.com"
        path: /mnt/rustpool/media_server/torrents
        globalMounts:
          - path: /media/torrents