---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: music-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: music-assistant
  interval: 1h
  values:
    controllers:
      music-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        labels:
          nfsMount: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "kube-system",
                "ips": ["10.21.11.1/16"],
                "mac": "00:02:b3:7d:03:eb"
              }]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7@sha256:8fc7f780a0a30594e170d5a71138852b1a1e7ce33d2d460e50bf8cadf9eda74f
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 47m
                memory: 512Mi
              limits:
                memory: 1024Mi

          bgutil-provider:
            image:
              repository: docker.io/brainicism/bgutil-ytdlp-pot-provider
              tag: 1.2.2
            env:
              TZ: America/Chicago
              PORT: 4416
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        ports:
          http:
            port: &port 443
          stream:
            port: 8098

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.jonandlinz.io"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          music-assistant:
            app:
              - path: /data
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
          - path: /.cache
      music:
        type: nfs
        server: nas.jonandlinz.com
        path: /mnt/rustpool/media_server/media/music
        globalMounts:
          - path: /music
      tmp:
        type: emptyDir
