---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      signout_redirect_url: https://auth.jonandlinz.io/application/o/grafana/end-session/
      disable_login_form: "false"
    auth.anonymous:
      enabled: "true"
    auth.generic_oauth:
      allow_sign_up: "true"
      api_url: https://auth.jonandlinz.io/application/o/userinfo/
      auth_url: https://auth.jonandlinz.io/application/o/authorize/
      client_id: ${GF_AUTH_OIDC_CLIENT_ID}
      client_secret: ${GF_AUTH_OIDC_CLIENT_SECRET}
      groups_attribute_path: groups
      email_attribute_path: email
      enabled: "true"
      login_attribute_path: preferred_username
      name: "Authentik"
      name_attribute_path: full_name
      role_attribute_path: contains(groups[*], 'Administrators') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
      scopes: "openid email profile groups"
      token_url: https://auth.jonandlinz.io/application/o/token/
    log:
      mode: console
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    plugins:
      plugin_admin_enabled: "false"
    security:
      angular_support_enabled: "true"
    server:
      enable_gzip: "true"
      root_url: https://grafana.jonandlinz.io
  deployment:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      strategy:
        type: Recreate
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-secret
                      key: GF_SECURITY_ADMIN_PASSWORD
                - name: GF_AUTH_OIDC_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: grafana-secret
                      key: GF_AUTH_OIDC_CLIENT_ID
                - name: GF_AUTH_OIDC_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: grafana-secret
                      key: GF_AUTH_OIDC_CLIENT_SECRET
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities: {drop: ["ALL"]}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc
  httpRoute:
    spec:
      hostnames:
        - grafana.jonandlinz.io
      parentRefs:
        - name: envoy-internal
          namespace: network
      rules:
        - backendRefs:
            - name: grafana-service
              port: 3000
  persistentVolumeClaim:
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
      storageClassName: ceph-block
  disableDefaultSecurityContext: All