---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-piper
spec:
  chartRef:
    kind: OCIRepository
    name: wyoming-piper
  interval: 1h
  values:
    controllers:
      wyoming-piper:
        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.2.0
            args:
              - --voice
              - en_US-libritts_r-medium
              - --data-dir
              - /data
            env:
              TZ: America/Chicago
    service:
      app:
        ports:
          whisper:
            enabled: true
            primary: true
            port: 10200
            protocol: TCP
    persistence:
      data:
        enabled: true
        type: emptyDir

